/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

img {
    width: 100%;
    display: block;
}

p {
	font-family: sans-serif;
	line-height: 1.4em;
	color: #222;
	box-sizing: border-box;
    padding-bottom: 2em;
	}

div.container {
    max-width: 40em;
    margin: auto;
    position: relative;
}


h1 {
	max-width: 7em;
    padding-bottom: 1em;
    padding-top: 1em;
}

li {
    display: inline;
    text-decoration: none;
    padding: 0.5rem;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(78, 102, 127);
    list-style-type: none;
}


caption {
    padding-bottom: 2em;
}

a{
    text-decoration: none;
}

h2 {
    text-decoration: none;
    font-weight: bolder;
    color: rgb(78, 102, 127);
    font-family: serif;
    padding-top:0.5rem;
}

article h2 {
    font-size: 2.5em;
    margin: 0.75em 0em 0.5em 0em;
}

section.main h2 {
    font-size: 2.75em;
}

section.secondary h2 {
    font-size: 1.25em;
}

section.tertiary h2{
    font-size: 1em;
    padding-top: 0.5em;
    border-top: 1px solid;
}

section.secondary p{
    padding-bottom: 1rem;
}

section.tertiary p{
    padding-bottom: 1em;
}

figure{
    padding-top: 1em;
}

figcaption{
    font-style: italic;
    font-family: sans-serif;
	line-height: 1.4em;
	color: rgb(70, 73, 81);
    padding-bottom: 1rem;
}

aside{
    background: rgb(204, 208, 251);
    padding: 0.5em;
}

footer {
    background-color: rgb(78, 102, 127);
}

footer p {
    color: #fafafa;
    padding: auto;
    padding-top: .75rem;
}


@media screen and (max-width: 40em) {
    
    nav ul li{
        display:block;
        padding: 0.25em 0em 0em 0.65em;
    }

    h1 {
        padding: 1em 0em 1em 0.5em;
    }
    
    h2 {
        padding: 0em 0em 0em 0.2em;
    }

    section.secondary h2 {
        padding: 0.1em 0em 0em 0.3em;
    }
    
    section.tertiary h2 {
        padding: 0.5em 0em 0em 0.4em;
    }

    p {
        padding: 0em 0em 0.5em 0.5em;
    }

    figcaption {
        padding: 0.25em 0em 1.2em 0.4em;
        line-height: 1.25em;
    }

    main p {
        padding-left: 0.5em;
    }

}
