/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */

img {
    width: 100%; /*Please leave this line.*/
     display: block;
}



body {
	background-color: rgb(200, 200, 200); 
	color: rgb(40,40,40);
	line-height: 140%; 	
	font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: normal;

}

div.container {
    max-width: 60em;
    margin: auto;
    background-color: rgb(250, 250, 250);
}

figure {
    display: grid;
    grid-template-columns: 75% 25%;
    padding: 0em 0em 3em;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3em;
    padding: 0em 0em 4em;
}


figcaption {
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: italic;
    padding: 2em 2em ; /* You want three values. */
}

h1 {
	background-color: #fc7506;
	color: rgb(250, 250, 250); /* Same as body background. */
	font-size: 2.2em;
    line-height: 100%;
	padding: 0.5em 0.8em 0em; /* You want three values. */
    font-family: Sutro, serif;  
    font-weight: 700;  
    font-style: normal;

}


h2 {
	background-color:#fc7506;
	color: rgb(247,220,186);
	font-size: 2em;
	padding: 0.5em 0.9em 1em;
    font-family: Sutro, serif;  
    font-weight: 300;  
    font-style: normal;
	
}

h3 {
	padding: 1em 1.6em 0.5em;
	font-size: 1.2em;
	color: #fc7506;
	text-transform: uppercase;
	letter-spacing: 0.1em; /*Just an extra tracking for bold uppercase letters. Try 0.1em */
    font-family: Sutro, serif;  
    font-weight: 300;  
    font-style: normal;
    border-top: 3px solid #fc7506;
}


ul {
	margin: 1em 1em 1em;
}

li { 
	margin: 1em 1em 0.5em;
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: normal;
}

ol{
    margin: 1em 1em 1em;
}

footer{
    color: rgb(238, 238, 238);
    background-color: #fc7506;
    padding: 1em 1em 1em;
}
